body{
 
    display: grid;
    margin: 0;
    place-items: center;  
    height: 50vh;
    }
    
    #container {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    gap: 5px;
    height: 20px ;
    margin-bottom: 20px;
    
    
    
    }

    .number{
        border: 1px solid #ccc;
        text-align: center;
        width: 60px;
        height: 35px;
      align-items: center;   
      justify-content: center;
      display: flex;
    }
 #numDIv{
    display: flex;
 }
 #buttonid{
    background-color: #90EE90;
    border-radius: 5px;
    border-color: #90EE90;
    margin: 5px;
    padding: 10px;
 }
 #numbrInput{
    width: 550px;
    height: 15px;
    margin: 5px;
    padding: 10px;
    border-color:   #90EE90;

 }
/* keybord */
 #card{
   width: 400px;
   padding: 20px 0px;
   border:  1 px solid  #ffffff;
   border-radius:10px ;
   margin-top:200px  ;
   background-color: #ffffff;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 2px 2px 3px rgb(109, 104, 104);
 }
 
 #headerDiv p{
text-align: center; }
#makeDiv{
   width: 120px;
   height: 150px;
   border:  1 px solid  #ffffff;
   border-radius:4px ;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 1px 1px 2px rgb(209, 209, 209);
   margin-top:50px  ;
   font-size: 80px;
   color: #347b34;
}
#spanId{
   margin-left: 10px;
   font-weight: bold;
   text-transform: uppercase;
}