body{
    margin: 0;
    padding: 0;
    text-align: center;
}


.graph-buttons{
background-color: rgb(255, 255, 255);
padding: 1px;
border-radius: 5px;
box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);
transition: box-shadow 0.3 ease;
}
#population{
    margin-top: 20px;
    background-color:#F2A93B ;
border: none;
width: 150px;
height: 30px;
font-size: 12px;

}
#language{
    margin-top: 20px;
    background-color:#F2A93B ;
border: none;
width: 150px;
height: 30px;
font-size: 12px;

}
.graph-title{
text-decoration: none;
}

.container{
    height: 60vh;
    justify-content: space-between;
    font-size: 20px;
    display: flex;
    flex-direction: column;

}

.div-pair{
    display: flex;
align-items: center;
margin-bottom: 10px;
}

.countryName {
    flex: 1;
}

.progress-bar {
    flex: 3; 
    height: 30px;
    margin: 0 10px; 
    background-color:#F2A93B ;
    transition: width 0.5s ease; 
}
.progressbarContainer{
    width: 30%;
    background-color: rgb(255, 255, 255);
}
.countryPopulation {
    flex: 1;
}


  
