body{
    margin: 0;
    text-align: center;
    height: 150vh;
    justify-content: center;
align-items: center;
display: flex;
}
#container{
display: grid;
grid-template-columns: repeat(6,1fr);
gap: 1px;
height: 10px ;
width: 100px;

}
.number{
    border: 1px solid #ccc;
    text-align: center;
    width: 60px;
    height: 35px;
 align-items: center;   
 justify-content: center;
 display: flex;
}

